 <div>
	    <header>
            <h1>This is the About Page</h1>
	          <p>I am so glad to be taking The Complete Ruby On Rails Development Course!</p>
             <p>This is the link to the <%= link_to 'Home', root_path %>  page </p>
        </header>
    </div>